* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
} 

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background-color: var(--second-bg-color);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}



.navbar {
    display: flex;
}

.navbar p {
   
    color: var(--text-color);
    font-size: 20px;
    margin-left: 3rem;
    transition: 0.3s;
}

.navbar p:hover {
    color: var(--main-color);
}



.navbar .active p {
    color: var(--main-color);
}



.menu-icon {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    transition: right 0.3s ease-in-out;
}

.mobile-nav.open {
    right: 0;
}

.mobile-nav p {
 
    padding: 1.5rem;
    color: var(--text-color);
    transition: 0.3s;
}

.mobile-nav p:hover {
    color: var(--main-color);
}


@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}
