* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.titel {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 20px;
}

.about {
    font-family: Cambria, Cochin, serif;
    font-size: 30px;
    color: var(--main-color);
}

.subAbout {
    font-size: 19px;
    padding: 3px;
    font-family: Cambria, Cochin, serif;
    color: var(--text-color);
}

.titelone {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url('/public/4.jpg');
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.titelone:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media (min-width: 768px) {
    .home-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .titel {
        width: 50%;
        text-align: left;
    }

    .titelone {
        width: 400px;
        height: 400px;
    }
}
